language: python
python:
  - "3.7"
  - "3.8"

sudo: required

before_install:
  - sudo apt-get update
  - sudo apt-get install -y xvfb herbstluftwm
  - sudo apt-get install -y libdbus-1-3 libxkbcommon-x11-0

install:
  - pip install -r requirements.txt
  - pip install pytest-qt pytest-cov
  - "export DISPLAY=:99.0"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1920x1200x24 -ac +extension GLX +render -noreset"
  - sleep 3

before_script:
  - "herbstluftwm &"
  - sleep 1

script:
  - pytest --cov=DWords tests/
  - python setup.py sdist

after_success:
  - pip install codecov
  - codecov
